.main__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 700px;
}

.main__list > p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #343a40;
}
.main__list > img {
  width: 80%;
}


@media(max-width:1024px){
  .main__list{
    width: 85vw;
    margin-bottom: 160px;
  }
}